/* RESET SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CLEARFIX SETTINGS */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* HEADER */
.header_top, .header_mid, .header_bot {
  width: 100%;
  height: 100px;
}
.header_top {
  background-color: black;
}
.header_mid {
  background-color: tomato;
}
.header_bot {
  background-color: black;
}
.header_jumbo {
  width: 100%;
  height: 695px;
  background-image: url("../img/jumbotron.png");
  background-size: cover;
}
/* MAIN */
/* SECTION DEFAULT SETTINGS */
section {
  background-color: yellow;
}
/* ORIZONTAL SECTION */
section.orizontal_div div {
  width: 80%;
  height: 333px;
  margin-left: 10%;
}
.orizontal_div .div1 {
  background-color: tomato;
}
.orizontal_div .div2 {
  background-color: black;
}
/* VERTICAL SECTION */

section.vertical_div div {
  width: 333px;
  height: 500px;
  display: inline-block;
  margin-left: 10%;
}
.vertical_div .div1 {
  background-color: tomato;
}
.vertical_div .div2 {
  background-color: black;
}
.vertical_div .div3 {
  background-color: tomato;
}
/* BLUE DIV */
.blue_div {
  width: 100%;
  height: 695px;
  background-color: tomato;
}
